<footer class="container">
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <p class="text-center">
                <strong>Navigation</strong><br>
                <a href="/">Home</a> |
                <a href="/tutorials/">Tutorials</a> |
                <a href="/projects/">Projects</a> |
                <a href="/tools/">Tools</a> |
                <a href="/about/">About</a>
            </p>
            <p class="text-center">
                <strong>©netopyaplanet.com</strong>
            </p>
        </div>
    </div>
</footer> 